:root
{
    --shadow-green:#cfffce;
    --light-green:#6EE479;
    --green:#40D633;
    --dark-green:#1bb40d;
    --light-gray:#CECECE;
    --shadow-gray:#dddddd;
    --gray:#8B8B8B;
    --white:#fff;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding:0px;
    margin:0px;

}

header 
{
    display: flex;
    justify-content: space-around;
    padding:20px;
    align-items: center;

    h1 
    {
        color:var(--light-green);
        font-weight: 500;
        font-size: 28px;
    }


    nav ul 
    {
        list-style: none;
        display: flex;
        max-width:400px;
        width:40vw;
        justify-content: space-around;
        align-items: center;

        a 
        {
            text-decoration: none;
            font-size: 13px;
            color:var(--gray);
            padding:2px;
            border-bottom: 3px solid var(--white);
            transition: .3s ease-in-out border;
        }
        
        a.active 
        {
            border-bottom: 3px solid var(--green);
            font-weight: 500;
        }

        a:hover 
        {
            font-weight: 500;
            border-bottom: 3px solid var(--green);
        }
    }
}



/* section */
section
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.overview 
{
    margin:70px;
    h2 
    {
        font-size: 30px;
        font-weight: 500;
        color:var(--light-gray);

        span
        {
            color:var(--light-green);
        }
    }
}

.overview_card_container 
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width:450px;
    margin-top: 50px;
}

.overview_card 
{
    width:180px;
    height:120px;
    border-radius:25px;
    box-shadow: 0px 0px 6px 0px var(--shadow-gray) ;
    position: relative;

    .details 
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width:130px;
        position: absolute;
        left:50%;
        top:20%;
        transform: translateX(-50%);

        h4
        {
            font-size: 32px;
            color:var(--light-gray);
            font-weight: 500;
        }

        p
        {
            color:var(--gray);
            font-size: 14px;
        }

        span
        {
            display: block;
            width:7px;
            height: 7px;
            border-radius: 50%;
            margin-top: 2px;
            background-color: var(--light-green);
        }
    }

    button 
    {
        position: absolute;
        bottom:0px;
        left:0px;
        right:0px;
        padding:7px 0px;
        border-radius: 0px 0px 20px 20px;
        border:none;
        outline: none;
        color:var(--white);
        background-color: var(--green);
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color .3s ease-in-out;
    }

    button i 
    {
        transition: transform .3s ease-in-out,opacity .3s ease-in-out  ; 
    }

    button:hover,button:focus
    {
        background:var(--dark-green);
    }


    button:hover i 
    {
        transform: translateX(10px);
    }

    button:focus i 
    {
        transform: translateX(40px);
        opacity: 0;

    }
}

.feature
{
    width:40vw;
    margin-top: 80px;

    p
    {
        color:var(--gray);
        font-size: 13px;
    }
}


.calendar_container
{

    margin-top: 70px;
    margin-right:50px;
    margin-bottom: 40px;
   
    .calendar 
    {
        width:520px;
        height:500px;
        background:var(--shadow-green);
        border-radius: 25px;
        position: relative;
        border:3px dashed var(--light-green);

        .left_eyelet 
        {
           position: absolute;
           border-radius: 50%;
           background:var(--white);
           width: 28px;
           height: 28px;
           left:50px;
           top:28px;

           img 
           {
            width:30px;
           }

        }

        .right_eyelet 
        {
           position: absolute;
           border-radius: 50%;
           background:var(--white);
           width: 28px;
           height: 28px;
           right:50px;
           top:28px;

           img 
           {
            width:30px;
           }

        }

        .month_year 
        {
            
            padding:30px;
            margin:0px 80px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            button 
            {
                font-size: 8px;
                width:15px;
                height: 15px;
                line-height: 10px;
                border-radius: 50%;
                border:none;
                outline: none;
                color:var(--white);
                background:var(--light-green);
                cursor: pointer;
            }

            h3 
            {
                color:var(--green);
                letter-spacing: 5px;

                span 
                {
                    margin-left: 10px;
                    color:var(--gray);
                    letter-spacing: 2px;
                }
            }
        }

        .week 
        {
            margin: 15px 30px;
            /* background:red; */
            display: flex;
            align-items: center;
            
            /* justify-content: space-around; */

            .day 
            {
                background:var(--white);
                width:50px;
                height: 60px;
                position: relative;
                border-radius: 8px;
                margin: 0px 8px;

                h6 
                {
                    position: absolute;
                    top:40%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    font-size: 20px;
                    color: #bfbfbf;
                }

                span 
                {
                    position: absolute;
                    color:var(--light-gray);
                    font-size: 10px;
                    bottom: 5px;
                    left:50%;
                    transform: translateX(-50%);
                    font-weight: 500;
                }

                .delivery 
                {
                    position: absolute;
                    top:0px;
                    right: 0px;
                    transform: translate(30%,-30%);
                    background-color: var(--green);
                    width:15px;
                    height: 15px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span
                    {
                        top:0px;
                        color:var(--white);
                        font-size: 8px;
                        line-height: 15px;
                        
                    }
                }
            }


            .day.today
            {
                h6 
                {
                    color:var(--green);
                }

                span:not(.delivery span)
                {
                    color:var(--light-green);
                }

                
            }

        }


        .first_week 
        {
            justify-content: right;
        }

        .last_week 
        {
            justify-content: left;
        }
    }
}

/* Responsive Mobile */
@media screen and (max-width:500px) 
{
    
header 
{
    display: flex;
    flex-direction: column;
    padding:20px;
    align-items: center;

    h1 
    {
        font-size: 20px;
    }

    nav 
    {
        margin-top: 20px;
    }


    nav ul 
    {
      
        list-style: none;
        display: inline;
        width:40vw;

        li 
        {
            margin-top: 10px;
        }
    
    }
}


.overview 
{
    margin:10px;

    h2 
    {
        font-size: 22px;
    }
}

.overview_card_container 
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width:90vw;
    margin-top: 50px;
}

.overview_card 
{
    width:40vw;
    height: 100px;

    .details 
    {
        width:30vw;

        h4
        {
            font-size: 28px;
        }

        p
        {  
            font-size: 12px;
        }

        span
        {
            width:5px;
            height: 5px;
        }
    }

    button 
    {
        font-size: 10px;
    }


}

.feature
{
    width:70vw;
    margin-top: 50px;
    margin-left: 15px;

   
}


.calendar_container
{

    margin:20px 0px;
   
    .calendar 
    {
        width:90vw;
        height:500px;
    

        .left_eyelet 
        {
           width: 18px;
           height: 18px;
           left:30px;
           top:18px;

           img 
           {
            width:20px;
           }

        }

        .right_eyelet 
        {
         
           width: 18px;
           height: 18px;
           right:30px;
           top:18px;

           img 
           {
            width:20px;
           }

        }

        .month_year 
        {
            
            padding:20px 0px;
            margin:40px 0px;
        }

        .week 
        {
            margin: 15px 10px;
    

            .day 
            {
                width:38px;
                height: 50px;
                margin: 0px 3px;
                border-radius: 6px;

                h6 
                {
                    font-size: 15px;
                }

                span 
                {
                    font-size: 8px;
                }

                .delivery 
                {
                    width:13px;
                    height: 13px;
                  

                    span
                    {
                     
                        font-size: 8px;
                        line-height: 12px;
                        
                    }
                }
            }


            .day.today
            {
                h6 
                {
                    color:var(--green);
                }

                span:not(.delivery span)
                {
                    color:var(--light-green);
                }

                
            }

        }


        .first_week 
        {
            justify-content: right;
        }

        .last_week 
        {
            justify-content: left;
        }
    }
}
}